@font-face {
  font-display: swap; 
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../components/font/PixelifySans-VariableFont_wght.ttf') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../components/font/PixelifySans-VariableFont_wght.ttf') format('woff2');
}

.container {
  margin-inline: auto;
  width: calc(100% - 1rem - 1rem);
}

.header-container {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 3rem;
  border: 2px solid black;
}

h1 img {
  width: 4rem;
}

body {
  position: relative;
  background-image: url(../components/img/Plan_de-travail\ 1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.name {
  text-decoration: underline;
  font-size: 2rem;
}

.touiteur-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30rem;
  justify-items: center;
  margin-block-start: 5rem;
}

form {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 30px;
  height: 50vh;
  font-family: "Pixelify Sans", sans-serif;
}

form button {
  animation: wiggle 1s ease-in-out infinite;
}

.name-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-form label {
  border: 2px solid white;
  margin: 10px;
  padding: 5px;
  color: yellow;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: yellow;
}

.name-form input {
  background-color: rgb(25, 25, 25);
  color: whitesmoke;
  font-size: 1.5rem;
}

.message-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.message-form label {
  padding: 5px;
  margin: 10px;
  border: 2px solid white;
  color: yellow;
  font-size: 2rem;
  background-color: rgba(25, 25, 25, 0.8);
}

.message-form textarea {
  resize: none;
  background-color: rgb(25, 25, 25);
  color: whitesmoke;
  font-size: 1.5rem;
}

button {
  grid-row: 3/4;
  color: yellow;
  font-size: 2rem;
  background-color: rgba(25, 25, 25);
  border-radius: 50px;
}

.touit-container {
  max-height: 400px;
  min-height: 200px;
  width: 30rem;
  gap: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.avatar {
  display: block;
  max-width: 100%;
  width: 5rem;
}

.touit-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}

.like-btn,
.dislike-btn {
  width: 3rem;
  padding-inline: 5px;
  cursor: pointer;
  margin-inline-end: 40px;
  margin-block-start: 10px;
}

.like-btn img:hover {
  filter: invert(100%) sepia(96%) saturate(6549%) hue-rotate(357deg)
    brightness(92%) contrast(120%);
}

.dislike-btn img:hover {
  filter: invert(100%) sepia(96%) saturate(6549%) hue-rotate(357deg)
    brightness(92%) contrast(120%);
}

.touit-likes {
  display: flex;
  flex-direction: row;
}

.touit {
  display: flex;
  flex-direction: column;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.2rem;
  color: white;
  border: 2px solid whitesmoke;
  background-color: rgba(25, 25, 25);
  padding: 1rem;
}
/***************************************TRENDING*****************************/

.trending-container {
  border: 2px solid yellow;
  margin-block-start: 20rem;
}

h2 {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: whitesmoke;
  background-color: black;
  text-align: center;
  padding-block: 10px;
}

.words-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background-color: black;
}

.words {
  background-color: yellow;
  color: black;
  border-radius: 25%;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  border: 2px red solid;
}

/************heure local*************/

.heure-actuelle {
  position: absolute;
  top: 420px;
  left: 440px;
  border: 2px solid whitesmoke;
  border-radius: 40px 40px 40px 0px;
  width: 20rem;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: whitesmoke;
  background-color: rgba(25, 25, 25, 0.8);
  text-align: center;
  opacity: 0;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}


